.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin-top: -50px;
  }
  
  .loader {
    border: 5px solid #000; /* Color gris claro */
    border-top: 5px solid #d2d2d2; /* Azul */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader-container p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #d2d2d2;
  }
  