.contenedor-calculadora {
    background-color: #ccc;
    margin: 100px auto;
    max-width: 800px;
    height: auto;
    border-radius: 30px;
    padding: 40px;
}
.contenedor-calculadora label {
    margin-left: 30px;
}
.contenedor-calculadora label input {
    margin-right: 10px;
}

.contenedor-calculadora .contenedorCatTicket {
    /* padding: 40px; */
}

.contenedor-calculadora .contenedorCatTicket label {
    margin-left: 30px;
}
.monto-impuesto {
    display: flex;
}
.monto-impuesto input {
    width: 100%;
    padding: 20px 30px;
    border-radius: 32px;
    margin: 20px 0; 
    border: none;
}
.monto-impuesto select {
    padding: 20px 30px;
    margin: 20px;
    border-radius: 40px;
}
.monto-impuesto input:focus {
    border: 2px solid #333;
}

.contenedor-impuesto-principal {
    display: flex;
    padding: 40px;
    border-radius: 30px;
    border: 1px solid #333;
    margin-top: 30px;
}
.contenedor-impuesto {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;
    background: #333333;
    color: #fff;
    text-align: center;
    width: 30%;
}
.contenedor-impuesto div {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
}
.contenedor-impuesto-seleccion {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}
.contenedor-impuesto-seleccion button {
    padding: 20px 30px;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    min-width: 140px;
    flex-shrink: 0
}
.contenedor-impuesto-seleccion button:hover {
    background-color: #333;
    color: #fff
}
.contenedor-impuesto-seleccion button.selected {
    background-color: #333;
    color: white;
  }
.impuesto-total {
    font-weight: normal;
    /* padding: 0; */
}

.contenedor-base-imponible {
    padding: 20px;
    width: 70%;
}

.contenedor-base-imponible div {
    font-size: 1.4rem;
    padding: 10px;
}