.contenedor-calculadora {
    /* background-color: #ccc; */
    margin: 100px auto;
    max-width: 800px;
    height: auto;
    border-radius: 30px;
    padding: 50px;
    color: #333;
    /* box-shadow: rgba(16, 7, 44, 0.3) 0px 13px 15px 0px; */
}
/* .contenedor-calculadora label {
    margin-left: 30px;
} */
.contenedor-calculadora label input {
    margin-right: 10px;
}

.contenedor-calculadora .contenedorCatTicket {
    /* padding: 40px; */
}

.contenedor-calculadora .contenedorCatTicket label,
.contenedor-calculadora label {
    margin-left: 30px;
    /* font-weight: bold; */
}
.margin-bot {
    margin-bottom: 30px;
    display: block;
}
.monto-impuesto {
    display: flex;
}
.monto-impuesto div {
    padding: 20px 10px 15px;
    width: 33%;
}
.monto-impuesto div input {
    width: 100%;
    padding: 10px 30px;
    border-radius: 32px;
    margin-top: 10px;
    /* margin: 10px 15px 20px 20px;  */
    border: none;
    background: #e9e9e9;
    height: 55px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.monto-impuesto select {
    padding: 10px 30px;
    /* margin: 20px 0; */
    border-radius: 40px;
    margin-top: 10px;
    border: none;
    width: 100%;
    height: 55px;
}
.monto-impuesto input:focus {
    /* border: 2px solid #333; */
}

.contenedor-impuesto-principal {
    display: flex;
    padding: 40px;
    border-radius: 30px;
    /* border: 1px solid #333; */
    margin-top: 30px;
    background: #000;
    box-shadow: rgba(16, 7, 44, 0.3) 0px 13px 15px 0px;
}
.contenedor-impuesto {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 20px 40px;
    border-radius: 20px;
    /* background: #000; */
    color: #fff;
    text-align: center;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}
.contenedor-impuesto div {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    /* padding: 10px; */
}
.contenedor-impuesto-seleccion {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}
.contenedor-impuesto-seleccion button {
    padding: 18px 20px;
    border-radius: 40px;
    margin-left: 18px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    min-width: 120px;
    background: #e9e9e9;
    flex-shrink: 0;
}
.contenedor-impuesto-seleccion button:hover {
    background-color: #8d8d8d;
    color: #fff
}
.contenedor-impuesto-seleccion button.selected {
    background-color: #000;
    color: #fff;
  }
.impuesto-total {
    font-weight: normal;
    /* padding: 0; */
    /* font-size: 5rem; */
}
.impuesto-total.entera {
    font-size: 6rem;
    text-align: end;
}
.impuesto-total.decimal {
    font-size: 2rem;
}
.contenedor-base-imponible {
    padding: 0px 40px;
    width: 70%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.contenedor-base-imponible  a {
    display: block;
    /* width: 100%; */
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    background-color: #5f0aff;
    font-weight: bold;
    text-decoration: none;
}
.contenedor-base-imponible  a:hover {
    background-color: #5309db;
} 

.contenedor-base-imponible div {
    font-size: 1.4rem;
    /* padding: 10px; */
    margin-top: 10px;
}