.contenedor-roaming-global {
    /* background-color: #ccc; */
    margin: 0px auto;
    max-width: 800px;
    height: auto;
    border-radius: 30px;
    /* padding: 0px 20px; */
    color: #333;
    /* box-shadow: rgba(16, 7, 44, 0.3) 0px 13px 15px 0px; */
}
/* .contenedor-calculadora label {
    margin-left: 30px;
} */
.contenedor-roaming label input {
    margin-right: 10px;
}

.contenedor-roaming .contenedorCatTicket {
    /* padding: 40px; */
}
.contenedor-roaming-global label {
    margin-left: 30px;
}
.contenedor-roaming-global #observaciones {
    background-color: #000;
    margin-left: 0px;
    width: 100%;
    border-radius: 30px;
    box-shadow: rgba(16, 7, 44, 0.3) 0px 13px 15px 0px;
}
.margin-bot {
    margin-bottom: 30px;
    display: block;
}
.contenedor-roaming-general {
    display: flex;
}
.contenedor-roaming-general div {
    padding: 0px 10px 10px;
    /* width: 33%; */
}
.contenedor-roaming-general div input {
    width: 100%;
    padding: 10px 30px;
    border-radius: 32px;
    margin-top: 10px;
    /* margin: 10px 15px 20px 20px;  */
    border: none;
    background: #e9e9e9;
    height: 55px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contenedor-roaming-general select {
    padding: 10px 30px;
    /* margin: 20px 0; */
    border-radius: 40px;
    margin-top: 10px;
    border: none;
    width: 100%;
    height: 55px;
}
.contenedor-roaming-general input:focus {
    /* border: 2px solid #333; */
}

.contenedor-roaming-principal {
    display: flex;
    padding: 40px;
    border-radius: 30px;
    /* border: 1px solid #333; */
    margin-top: 30px;
    background: #000;
    box-shadow: rgba(16, 7, 44, 0.3) 0px 13px 15px 0px;
    justify-content: space-evenly;
    /* justify-content: center; */
}

.contenedor-roaming {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 20px 40px;
    border-radius: 20px;
    /* background: #000; */
    color: #fff;
    text-align: center;
    width: auto;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}
.contenedor-roaming:last-child {
    /* Aquí aplicas el estilo que deseas, por ejemplo: */
    /* margin-left: 20px; */
  }
.contenedor-roaming div {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    /* padding: 10px; */
}
.contenedor-roaming div:first-child {
    padding-right: 5px;
}
.contenedor-impuesto-seleccion {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}
.contenedor-impuesto-seleccion button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 20px;
    border-radius: 40px;
    margin-left: 18px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    min-width: 120px;
    background: #e9e9e9;
    flex-shrink: 0;
}
.contenedor-impuesto-seleccion button:hover {
    background-color: #8d8d8d;
    color: #fff
}
.contenedor-impuesto-seleccion button.selected {
    background-color: #000;
    color: #fff;
}
.contenedor-impuesto-seleccion button i {
    font-size: 1.2rem;
}
.contenedor-impuesto-seleccion button span {
    padding-left: 6px;
}
.impuesto-total {
    font-weight: normal;
    /* padding: 0; */
    /* font-size: 5rem; */
}
.impuesto-total.entera {
    font-size: 4rem;
    text-align: end;
}
.contenedor-roaming .impuesto-total.decimal {
    font-size: 1.6rem;
}
.contenedor-base-imponible {
    padding-left: 40px;
    width: 70%;
    color: #fff;
    /* display: flex;
    flex-wrap: wrap; */
    align-content: center;
    /* align-items: center; */
}
.contenedor-base-imponible  a {
    /* display: block; */
    /* width: 100%; */
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    /* margin-top: 20px; */
    color: #fff;
    background-color: #5f0aff;
    font-weight: bold;
    text-decoration: none;
}
.contenedor-base-imponible  a:hover {
    background-color: #5309db;
} 

.contenedor-base-imponible div {
    font-size: 1.4rem;
    /* padding: 10px; */
    margin-top: 10px;
    display: block;
}

.contenedor-base-imponible .margin-top {
    margin-top: 30px;
}




/* estilos de busqueda de pais */
.search-container-roaming {
    /* text-align: center; */
    max-width: 800px;
    margin: 70px auto 10px;
    padding: 30px 20px;
    display: flex;
  }
  
  .search-container-roaming label {
    /* text-align: center; */
    margin-left: 30px;
  }
  
  .search-container-roaming input {
    /* text-align: center; */
    margin-top: 10px;
  }

  .contenedor-pais-etiqueta-zona {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .contenedor-pais-etiqueta-zona .zona-pais-etiqueta {
    position: absolute;
    padding: 18px 30px;
    background: #000;
    color: #fff;
    border-radius: 30px;
    margin-top: 10px;
    font-weight: bolder;
  }
  
  .search-container-roaming ul {
    position: absolute;
    margin-top: 12px;
    margin-left: 8px;
    background: #e9e9e9;
    border-radius: 16px;
    padding: 20px;
    list-style: none;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-width: 760px;
    max-height: 500px;
    overflow-y: scroll;
  }
  
  .search-container-roaming ul li {
    /* margin-left: 10px; */
    padding: 12px 15px;
    cursor: pointer;
  }
  
  .search-container-roaming ul li:hover {
    background: #d1d1d1;
    border-radius: 10px;
    /* padding: 10px; */
  }