/* Contenedor principal */
.app-container {
  display: flex;
  position: relative;
  transition: all 0.3s ease-in-out;
}

/* Sidebar derecho */
.sidebar-derecho {
  position: fixed;
  top: 0;
  right: -500px; /* Oculto inicialmente (ancho del sidebar) */
  width: 500px;
  height: 100vh;
  background-color: #272727;
  color: #d7d7d7;
  padding: 36px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.app-container.sidebar-visible .sidebar-derecho {
  right: 0; /* Muestra el sidebar */
}

/* Contenido principal */
.main-content {
  flex: 1;
  transition: margin-right 0.3s ease-in-out;
}

.app-container.sidebar-visible .main-content {
  margin-right: 500px; /* Ancho del sidebar */
}

/* Botón de cierre */
.sidebar-derecho .close-button,
.contenedor-estado-luces-router .close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.sidebar-derecho .close-button:hover {
  background-color: #454545;
}
.contenedor-estado-luces-router .close-button:hover {
  color: #d7d7d7;
}

.contenedor-estado-luces-router .close-button {
  position: fixed;
  right: 15px;
  color: #999;
  background: #272727;
  line-height: 0;
  top: 15px;
}

.sidebar-derecho .close-button i {
  /* position: absolute; */
  /* top: 10px;
  right: 10px; */
  background-color: transparent;
  color: #d7d7d7;
  border: none;
  font-size: 30px;
  padding: 5px;
  /* cursor: pointer; */
}

.contenedor-estado-luces-router .close-button i {
  font-size: 24px;
}

/* .sidebar-derecho .close-button:hover {
  color: #ff6b6b;
} */

.sidebar-derecho .sidebar-titulo {
  display: flex;
  align-items: center;
  gap: 15px;
}

  .sidebar-derecho h2 {
    margin: 0;
    font-size: 20px;
    /* margin-left: 10px; */
  }
  
  .sidebar-derecho ol {
    padding-left: 20px;
  }
  
  .sidebar-derecho ol li {
    margin-bottom: 15px;
  }
  