.search-container {
  /* text-align: center; */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.search-container label {
  /* text-align: center; */
  margin-left: 30px;
}

.search-container input {
  /* text-align: center; */
  margin-top: 10px;
}

.search-container ul {
  position: absolute;
  margin-top: 12px;
  background: #e9e9e9;
  border-radius: 16px;
  padding: 20px;
  list-style: none;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-width: 760px;
  max-height: 500px;
  overflow-y: scroll;
}

.search-container ul li {
  /* margin-left: 10px; */
  padding: 12px 15px;
  cursor: pointer;
}

.search-container ul li:hover {
  background: #d1d1d1;
  border-radius: 10px;
  /* padding: 10px; */
}

input[type="text"] {
  width: 100%;
  padding: 10px 20px 10px 30px;
  border: 1px solid #ccc;
  border-radius: 48px;  
  height: 48px;
  background-color: #e9e9e9;
  color: #313131;
}
/* 
#suggestions {
  position: absolute;
  background-color: white;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#suggestions option {
  padding: 10px;
  cursor: pointer;
}

#suggestions option:hover {
  background-color: #f0f0f0;
} */

.hidden {
  display: none;
}

#incidenciaBusqueda {
  margin-top: 10px;
}