#datosContacto {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px 0 0;
}

.contenedor-label-datos-cliente label {
    margin-left: 50px;
}

.contenedor-input-datos-cliente input:first-child {
    margin-left: 20px;
}
.contenedor-input-datos-cliente, .contenedor-datos-router {
    display: flex;
    /* width: 100%; */
    margin-top: 10px;
    gap: 10px;
}
.contenedor-datos-router select:first-child {
    margin-left: 20px;
}

.contenedor-input-datos-cliente input {
    /* margin-top: 10px; */
    /* margin-left: 20px; */
}

/* #datosContacto div input {
    margin-left: 20px;
} */

#notaCorreo, #contenedorNota, #contenedorCorreo {
    display: flex;
    margin-top: 10px;
}
#contenedorNota ul, #contenedorCorreo ul {
    white-space: normal;
    padding-left: 20px;
}

#contenedorNota .pre,
#contenedorCorreo .pre {
    margin-left: 20px;
    overflow-y: auto;
    white-space: pre-wrap;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    height: 300px;
    resize: none;
    border: 1px solid transparent;
    color: #313131;
    background: #e9e9e9;
    scrollbar-width: none;


    user-select: text; /* Permite la selección de texto */
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* IE 10+ */

}

#datosContacto #notaCorreo #contenedorNota {
    width: 60%;
}
#datosContacto #notaCorreo #contenedorCorreo {
    width: 40%;
}

#datosContacto #notaCorreo #contenedorNota,
#datosContacto #notaCorreo #contenedorCorreo {
    justify-content: flex-end;
    align-items: flex-end;
}

#copiarBtn_markdownNota, #copiarBtn_markdownCorreo {
    position: absolute;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }


.hora-seleccionada {
    /* margin-left: 20px; */
    padding: 10px 20px;
    border-radius: 48px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #e9e9e9;
}

.tecnologia-router {
    width: 70%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 55px;
    background-color: #e9e9e9;
    color: #313131;
    /* margin-left: 20px; */
}

.tecnologia-router:first-of-type {
    width: 35%;
}

.tecnologia-router.incidencia-voz {
    width: 100%;
    margin-left: 20px;
}

.contenedor-afectado-sim {
    display: flex;
}

.contenedor-afectado-sim div {
    width: 58%;
}
.contenedor-afectado-sim  select {
    margin-top: 10px;
}

#observaciones {
    margin-top: 15px;
    padding: 20px 30px;
    background-color: #2d2d2d;
    border-radius: 20px;
    margin-left: 20px;
    color: #fff;
    overflow: hidden;
    width: 98%;
    display: block;
    white-space: pre-wrap;
}

div#markdownNota a {
    text-decoration: none;
    color: inherit;
    background: none;
    /* border: none; */
    /* padding: 0; */
    /* margin: 0; */
    font: inherit;
    /* outline: none; */
    cursor: pointer;
}

@media only screen and (max-width: 800px) {

    .monto-impuesto {
        flex-wrap: wrap;
    }
    .monto-impuesto div {
        width: 50%;
        padding-top: 0px;
    }

}

@media only screen and (max-width: 700px) {

    .contenedor-input-datos-cliente input {
        width: 49%;
        margin-left: 0px;
    }
    .contenedor-input-datos-cliente {
        margin-left: 20px;
        justify-content: space-evenly;
    }
    .contenedor-input-datos-cliente input:first-child {
        margin-left: 0px;
        /* justify-content: space-evenly; */
    }
    .contenedor-input-datos-cliente input[placeholder="Acometida"]{
        display: none;
    }
    .contenedor-input-datos-cliente input[placeholder="Nueva dirección"] {
        width: 100%;
    }
    .contenedor-input-datos-cliente select.hora-seleccionada {
        width: 49%;
        height: 55px;
        margin-left: 0;
    }
    .tecnologia-router:first-child, .tecnologia-router {
        width: 49%;
        margin-left: 0px;
    }
    .contenedor-datos-router {
        margin-left: 20px;
    }
    .contenedor-datos-router select:first-child {
        margin-left: 0px;
    }
    #contenedorCorreo .pre {
        width: 320px;
    }

    .contenedor-afectado-sim {
        gap: 10px
    }
    .contenedor-afectado-sim .contenedor-input-datos-cliente input {
        width: 100%;
    }
    .contenedor-input-datos-cliente input[placeholder="Dirección de envío"] {
        width: 100%;
    }
    #observaciones {
        width: 97%;
    }
}

@media only screen and (max-width: 600px) {
    #notaCorreo {
        overflow-x: auto;
        scrollbar-width: none;
        /* width: 100%; */
    }
    #notaCorreo {
        overflow-x: auto;
        scrollbar-width: none;
        /* width: 100%; */
    }
    #contenedorNota, #contenedorCorreo {
        min-width: 350px;
        flex-shrink: 0;
    }

    #contenedorNota button, #contenedorCorreo button {
        position: sticky;
        margin-left: -60px;
    }
    .contenedor-afectado-sim div {
        width: 100%;
    }

}


@media only screen and (max-width: 540px) {

    .contenedor-input-datos-cliente input {
        width: 48%;
        margin-left: 0px;
    }
    .contenedor-input-datos-cliente {
        margin-left: 20px;
    }
    .contenedor-input-datos-cliente select.hora-seleccionada {
        width: 48%;
    }
    .tecnologia-router:first-child, .tecnologia-router {
        width: 100%;
        margin-left: 0px;
    }


}

@media only screen and (max-width: 460px) {

    .contenedor-input-datos-cliente input {
        width: 100%;
    }

    .contenedor-input-datos-cliente select.hora-seleccionada {
        width: 48%;
        /* height: 55px;
        margin-left: 0; */
    }
    .contenedor-afectado-sim {
        flex-wrap: wrap;
    }
    .tecnologia-router.incidencia-voz {
        display: block;
        margin-left: 20px;
        margin-top: 0px;
    }
    #observaciones {
        width: 96%;
    }

}

@media only screen and (max-width: 420px) {

    div#markdownNota p, #markdownCorreo p,
    div#markdownNota li, #markdownCorreo li,
    div#markdownNota strong, #markdownCorreo strong {
        font-size: 12px;
    }
    
    #contenedorNota, #contenedorCorreo {
        min-width: 300px;
        flex-shrink: 0;
    }
}