#datosContacto {
    width: 800px;
    margin: 20px auto;
    padding: 0 20px 0 0;
}

.contenedor-label-datos-cliente label {
    margin-left: 50px;
}

.contenedor-input-datos-cliente, .contenedor-datos-router {
    display: flex;
    /* width: 100%; */
    margin-top: 10px;
}

.contenedor-input-datos-cliente input {
    /* margin-top: 10px; */
    margin-left: 20px;
}

/* #datosContacto div input {
    margin-left: 20px;
} */

#notaCorreo, #contenedorNota, #contenedorCorreo {
    display: flex;
    margin-top: 10px;
}

#contenedorNota textarea,
#contenedorCorreo textarea {
    margin-left: 20px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    height: 300px;
    resize: none;
    border: 1px solid transparent;
    color: #313131;
    background: #e9e9e9;
}

#datosContacto #notaCorreo #contenedorNota {
    width: 60%;
}
#datosContacto #notaCorreo #contenedorCorreo {
    width: 40%;
}

#datosContacto #notaCorreo #contenedorNota,
#datosContacto #notaCorreo #contenedorCorreo {
    justify-content: flex-end;
    align-items: flex-end;
}

#copiarBtnNota, #copiarBtnCorreo {
    position: absolute;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }


.hora-seleccionada {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 48px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tecnologia-router {
    width: 70%;
    padding: 10px 20px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 48px;
    height: 48px;
    background-color: #e9e9e9;
    color: #313131;
    margin-left: 20px;
}

.tecnologia-router:first-of-type {
    width: 30%;
}

.tecnologia-router.incidencia-voz {
    width: 100%;
}