#notasContenedor {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    margin-top: 15px;
    margin-bottom: 30px;
}

.contenedorNotasFibra {
    margin: 0 auto;
    max-width: 800px;
}

#datosNotasFibra {
  margin-top: 60px;
}
/* Estilo para la animacion del sidebar a la derecha */
.main-content-fibra-completa {
  flex: 1;
  transition: margin-right 0.3s ease;
  padding: 20px;
}

#datosNotasFibra .contenedorNotasFibra .contenedorTarifaFibra,
#datosNotasFibra .contenedorNotasFibra .contenedorRouterMotivo,
#datosNotasFibra .contenedorNotasFibra .contenedorContactoHoras {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.contenedorNotasFibra .contenedorContactoHoras input {
  width: 100%;
}
.contenedorNotasFibra .contenedorContactoHoras select {
  height: 55px;
}

#datosNotasFibra .contenedorNotasFibra .contenedorTarifaFibra select {
    width: 80%;
}
/* #datosNotasFibra .contenedorNotasFibra .contenedorRouterMotivo select {
    width: 50%;
} */



.contenedor-estado-luces-router.mostrar-contenedor {
    display: flex;
    /* justify-content: flex-end; */
    background: #2f2f2f;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    color: #d7d7d7;
}

/* Estilos de contenedor de estado luces router */
.ocultar-luces-router {
  display: none;
}
.mostrar-luces-router {
  overflow-x: auto;
  scrollbar-width: none;
}
.cambiar-radio-contenedor, #resultadoEstado.cambiar-radio-contenedor {
  border-radius: 20px;
  border: none;
  /* background: #ccc; */
  /* padding: 10px 15px; */
}

.contenedor-estado-luces-router {
    background: #e9e9e9;
    padding: 12px 14px 16px;
    border-radius: 30px;
    margin-bottom: -20px;

    display: none;
    gap: 10px;
    flex-wrap: wrap;
    position: sticky;
    /* margin-bottom: 20px;
    width: 800px;
    bottom: 0; */
}
.contenedor-estado-luces-router .contenedor-estado-luces {
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    scrollbar-width: none;
    gap: 10px;
    /* padding: 10px; */
}
.contenedor-estado-luces-router .categoria:first-child {
    /* margin-bottom: 20px; */
}
.contenedor-estado-luces-router .categoria h2 {
    display: block;
    width: 100%;
    padding-left: 20px;
    /* padding-bottom: 10px; */
    /* margin-top: 20px; */
}

.contenedor-estado-luces-router .categoria .luz {
    width: 200px;
    height: 160px;
    padding: 10px;
    /* border: 2px solid #d7d7d7; */
    border-radius: 20px;
    flex-shrink: 0;
}
.contenedor-estado-luces-router .categoria .luz h3 {
    text-align: center;
    padding: 5px;
}
.contenedor-estado-luces-router .categoria .luz select {
    padding: 5px 15px;
    border-radius: 20px;
    width: 100%;
    background: #2f2f2f;
    color: #d7d7d7;
    /* text-align: center; */
    /* margin-bottom: 10px; */
}
.contenedor-estado-luces-router .categoria .luz p {
    font-size: 12px;
    padding: 10px;
}
.contenedor-luces-cable-reset {
  margin-top: 8px;
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.contenedor-luces-cable-reset select.tecnologia-router {
  width: 25%;
}

select.tecnologia-router.menor-ancho {
  width: 38%;
}






.contenedorNotaEscalado {
    width: 380px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.contenedorNotaEscalado .pre #markdownNotaHistorica ul,
.contenedorNotaEscalado .pre #markdownNotaEscalado ul,
.contenedorNotaEscalado .pre #markdownNotaReclamoCoord ul,
.contenedorNotaEscalado .pre #markdownNotaReclamoApi ul,
.contenedorNotaEscalado .pre #markdownNotaReclamoApiNuevo ul,
.contenedorNotaEscalado .pre #markdownNotaBoFact ul  {
    white-space: normal;
    padding-left: 20px;
}
.contenedorNotaEscalado .pre #markdownNotaHistorica a,
.contenedorNotaEscalado .pre #markdownNotaEscalado a,
.contenedorNotaEscalado .pre #markdownNotaReclamoApiNuevo a,
.contenedorNotaEscalado .pre #markdownNotaReclamoApi a, 
.contenedorNotaEscalado .pre #markdownNotaReclamoCoord a {
  text-decoration: none;
  color: inherit;
  background: none;
}
.contenedorNotaEscalado label {
    display: block;
    padding: 10px 20px;
}
.contenedorNotaEscalado button {
    margin-left: -62px;
    position: sticky;


    background: none;
    border: 1px solid #0000;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
}
.contenedorNotaEscalado .pre.notaHistorica,
.contenedorNotaEscalado .pre.notaEscalado,
.contenedorNotaEscalado .pre.contenedorNotaEscaladoAdjunto,
.contenedorNotaEscalado .pre.notaReclamoApi,
.contenedorNotaEscalado .pre.notaReclamoOutlook,
.contenedorNotaEscalado .pre.notaReclamoCoord,
.contenedorNotaEscalado .pre.notaBoFact  {
    /* margin-left: 20px; */
    overflow-y: auto;
    white-space: pre-wrap;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    height: 300px;
    resize: none;
    border: 1px solid transparent;
    color: #313131;
    background: #e9e9e9;
    scrollbar-width: none;
    user-select: text;
    -webkit-user-select: text;
}

.bx.bx-mail-send {
  font-size: 28px;
}



/* Animacion */
/* Animación de deslizamiento hacia abajo (entrar) */
@keyframes slideOut {
    0% {
      transform: translateY(-100%); /* Empuja el contenedor fuera de la pantalla */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* Mueve el contenedor a su posición original */
      opacity: 1;
    }
  }
  
  /* Animación de deslizamiento hacia arriba (salir) */
  @keyframes slideIn {
    0% {
      transform: translateY(0); /* Empieza en su posición original */
      opacity: 1;
    }
    100% {
      transform: translateY(-100%); /* Empuja el contenedor fuera de la pantalla */
      opacity: 0;
    }
  }
  
  /* Clases de transición de entrada y salida */
  .contenedor-estado-luces-router-enter {
    animation: slideIn 0.5s ease-out forwards;
  }
  
  .contenedor-estado-luces-router-exit {
    animation: slideOut 0.5s ease-in forwards;
  }
  
  /* Las siguientes clases aseguran que el contenedor permanezca en el DOM durante la animación */
  .contenedor-estado-luces-router-enter-active,
  .contenedor-estado-luces-router-exit-active {
    display: block;
  }
  
  .contenedor-estado-luces-router-wrapper {
    overflow: hidden; /* Ocultar cualquier cosa fuera del contenedor durante la animación */
    height: auto; /* Ajustar la altura según el contenido */
    position: relative; /* Necesario para que funcione z-index */
    z-index: -1;
}
  
.contenedor-estado-luces-router {
    transition: transform 0.5s ease-out; /* Animación para mover el contenedor */
    transform: translateY(-100%); /* Empuja el contenedor fuera de la vista inicialmente */
  }
  
  /* El contenedor visible */
  .contenedor-estado-luces-router.contenedor-estado-luces-router.mostrar-contenedor {
    transform: translateY(0); /* Mueve el contenedor hacia abajo cuando está visible */
    /* margin-top: 20px; */
  }
  



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Código CSS de botones de procedimiento y modal de procedimiento*/
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* AQUI */
/* Contenedor de botones */
#resultadoEstado {
  max-height: 100px;
  border: none;
  background: none;
  padding: 0px;
  padding-left: 15px;
  padding-right: 10px;
  /* padding-bottom: 10px; */
  color: #d7d7d7;
  outline: none;
}
#resultadoEstado::placeholder {
  color: #bbb;
}

#resultadoEstado::-webkit-scrollbar {
  width: 0; /* Oculta la barra de desplazamiento por defecto */
  transition: width 0.3s ease-in-out; /* Opcional: animación suave */
}

#resultadoEstado:hover::-webkit-scrollbar {
  width: 8px; /* Muestra la barra de desplazamiento al pasar el ratón */
  border-radius: 5px;
}

#resultadoEstado::-webkit-scrollbar-track {
  background-color: transparent; /* Fondo de la pista transparente por defecto */
}

#resultadoEstado:hover::-webkit-scrollbar-thumb {
  background-color: #474747; /* Pulgar visible al pasar el ratón */
  border-radius: 5px;
}

#resultadoEstado::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Pulgar más oscuro al pasar el ratón */
}

.contenedor-botones {
  display: flex;
  gap: 10px;
  /* background: #e9e9e9; */
  border-radius: 30px;
  height: 55px;
  /* margin: 20px 0px; */
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0px;
}
.contenedor-botones-procedimientos {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.botones-izquierda, .botones-derecha {
  display: flex;
  gap: 8px
}
#estadoComprobaciones {
  width: 100px;
  padding: 10px 15px;
  background-color: #474747;
  color: #d7d7d7;
  height: auto;
  border: none;
}
.contenedor-botones-procedimientos .botones-izquierda a {
  display: inline-block;
}
.contenedor-botones-procedimientos .botones-izquierda button:first-child, 
.contenedor-botones-procedimientos .botones-izquierda a {
  border-radius: 50%;
  /* padding: 10px; */
  border: none;
  /* color: #313131; */
  line-height: 0;
  text-decoration: none;
}
.contenedor-botones-procedimientos .botones-izquierda button,
.contenedor-botones-procedimientos .botones-izquierda a {
  display: flex;
  background: #474747;
  line-height: 0;
  align-items: center;
  border: none;
  border-radius: 25px;
  padding: 10px 12px;
  /* color: #999; */
}
.sin-fondo {
  /* background: none; */
  color: #999;
}
.fondo-boton {
  /* background-color: #d7d7d7; */
  color: #d7d7d7;
}
.contenedor-botones-procedimientos p {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 500;
}
.contenedor-botones-procedimientos button:hover,
.contenedor-botones-procedimientos a:hover {
  /* background-color: #d7d7d7; */
  color: #d7d7d7;
}
.contenedor-botones-procedimientos button i,
.contenedor-botones-procedimientos a i {
  font-size: 1.6rem;
}
.contenedor-botones button {
  padding: 10px 40px;
  height: 55px;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #5f0aff;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
}

.contenedor-botones button:hover {
  background: #5309db;
} 

.boton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #d7d7d7;
}
.boton:hover {
  color: #313131;
}
/* Estilo del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: absolute;
  background: white;
  padding: 30px;
  border-radius: 30px;
  width: 500px;
  /* text-align: center; */
  cursor: grab; /* Indica que se puede arrastrar */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal h2 {
  font-size: 1.2rem;
}
#markdownProcedimiento {
  padding: 20px;
}

#markdownProcedimiento li,
#markdownProcedimiento p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.6;
}
#markdownProcedimiento li ul {
  margin-top: 10px;
}
#markdownProcedimiento h2 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.6;
}
#markdownProcedimiento strong {
  /* margin-bottom: 10px; */
  font-size: 16px;
  line-height: 1.6;
}
#markdownProcedimiento hr {
  margin: 30px 0px;
}
#markdownProcedimiento ul {
  padding-left: 20px;
}
#markdownProcedimiento h4 {
  margin-bottom: 20px;
}

.modal:active {
  cursor: grabbing; /* Cambia el cursor al arrastrar */
}

.boton-cerrar {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background: #5f0aff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.boton-cerrar:hover {
  background: #5309db;
}



