#datosTickets {
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 0 0;
}

#datosTickets div {
    display: flex;
}

#datosTickets div .contenedorCatTicket {
    margin-left: 20px;
    display: inline-block;
}

#datosTickets div .contenedorCatTicket label {
    margin-left: 30px;
    /* display: inline-block; */
}

#datosTickets div input {
    margin-top: 10px;
    font-weight: bold;
}